30 9 * * * /home/ubuntu/anaconda3/envs/cate/bin/python /home/ubuntu/workspace/API/app.py >> /home/ubuntu/workspace/LOG/api.txt 2>&1

30 9-18 * * * /home/ubuntu/anaconda3/envs/cate/bin/python /home/ubuntu/workspace/main.py >> /home/ubuntu/workspace/LOG/db.log 2>&1